@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEFDD9;
  --foreground: #734501;
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ubuntu-mono);
}
