@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEFDD9;
  --foreground: #734501;
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ubuntu-mono);
}

/* markdown editor: https://uiwjs.github.io/react-md-editor/ */
body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
  font-size: 23px !important;
  line-height: 24px !important;
}